
@{
    ViewBag.Title = "LogIn";
}

<main class="container py-5">
    <section class="col-lg-5 col-md-7 mx-auto">

        <div class="card shadow-lg border-0 rounded-4 p-4">

            <h2 class="fw-bold text-center mb-4">
                Welcome to PrepMaster
            </h2>

            <!-- Tabs -->
            <ul class="nav nav-tabs nav-justified mb-4">
                <li class="nav-item">
                    <button class="nav-link active text-primary fw-semibold" value="Admin">
                        Teacher / Admin
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link fw-semibold text-muted text-primary" value="Student">
                        Student
                    </button>
                </li>
            </ul>

            <!-- Form -->
            <form autocomplete="off">

                <div class="mb-3">
                    <label class="form-label fw-semibold">Email Address</label>
                    <input type="email" class="form-control"
                           placeholder="email@example.com" id="Email">
                </div>

                <div class="mb-4">
                    <label class="form-label fw-semibold">Password</label>
                    <input type="password" class="form-control"
                           placeholder="Enter password" id="Password">
                </div>

                <p>New user? @Html.ActionLink("Signup", "SignUp", "Auth")</p>

                <button class="btn btn-primary w-100 py-2 fw-semibold" id="LoginBtn" type="button">
                    Log In
                </button>

            </form>

        </div>

    </section>
</main>

<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('.nav-link').on('click', function () {
            $('.nav-link').removeClass('active').addClass('text-muted');
            $(this).addClass('active').removeClass('text-muted');
        });

        $('#LoginBtn').on('click', function (e) {
            //e.preventDefault();


            var Email = $("#Email").val().trim();
            var Password = $("#Password").val().trim();

            // Find the role
            var selectedRoleValue = $('.nav-link.active').val();
            console.log(selectedRoleValue)
            $.ajax({
                url: '@Url.Action("LogIn", "Auth")',
                type: 'POST',
                data: {
                    Email,
                    Password,
                    Role: selectedRoleValue,
                },
                success: function (response) {

                    console.log(response);

                    if (response.success) {

                        var userId = response.Data.id;
                        var userName = response.Data.UserName;
                        var HashKey = response.Data.HashKey;
                        var selectedRoleValue = $('.nav-link.active').val();

                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: response.Message,
                            confirmButtonColor: '#5b5ce2'
                        }).then(() => {

                            localStorage.setItem('Role', selectedRoleValue);
                            localStorage.setItem('UserID', userId);
                            localStorage.setItem('Username', userName);
                            localStorage.setItem('HashKey', HashKey);

                            if (selectedRoleValue == "Admin") {

                                var baseUrl = '@Url.Action("Index","Teacher", new { id = 0 })';
                                window.location.href = baseUrl.replace("0", userId);

                            } else {

                                var baseUrl = '@Url.Action("Index","Student", new { id = 0 })';
                                window.location.href = baseUrl.replace("0", userId);
                            }

                        });
                    }
                    else {
                        //console.table(selectedRoleValue);
                        Swal.fire({
                            icon: 'warning',
                            title: 'Warning!!',
                            text: response.Message,
                            confirmButtonColor: '#dc3545'
                        });
                    }
                },
                error: function (response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Server Error',
                        text: 'Something went wrong. Please try again.',
                        confirmButtonColor: '#dc3545'
                    });
                }
            });
        });

    });
</script>

