
@{
    ViewBag.Title = "Analytics";
}

@Html.Partial("_Navbar")

<!--Page Header-->!>

<div class="d-flex justify-content-between align-items-end mb-5">
    <div>
        <h1 class="fw-bold">Test Analysis</h1>
        <p>Prof. Stark Dashboard</p>
    </div>
    <div>
        <button class="btn btn-primary">+ Create New Test</button>
    </div>
</div>

<!--Filter Section-->!>

<div class="d-flex flex-column flex-md-row align-items-md-end gap-3 shadow p-4">

    <div class="w-100 w-md-33">
        <label class="form-label">
            <i class="fa fa-solid fa-filter">
            </i>
            Filter By Class
        </label>
        <select class="form-select w-100 fw-bold" id="classDropDown">
            <option value="">Choose Class</option>
        </select>
    </div>

    <div class="w-100 w-md-33">
        <label class="form-label">
            <i class="fa-solid fa-file-lines"></i>
            Select Assessment Test
        </label>
        <select class="form-select w-100 fw-bold" id="testDropDown">
            <option value="">Select Assessment</option>
        </select>
    </div>

</div>

@* Analytics + Results Section *@

<div class="row mt-4 g-4">

    <!-- LEFT PORTION -->
    <div class="col-lg-4">

        <!-- Stats -->
        <div class="row g-3 mb-3">

            <div class="col-6">
                <div class="p-3 shadow rounded text-center">
                    <p class="text-muted small mb-1">TEST AVERAGE</p>
                    <h2 class="fw-bold text-primary" id="testAvgText"></h2>
                </div>
            </div>

            <div class="col-6">
                <div class="p-3 shadow rounded text-center">
                    <p class="text-muted small mb-1">TOTAL SUBMISSIONS</p>
                    <h2 class="fw-bold" id="testCount"></h2>
                </div>
            </div>

        </div>

        <!-- Score Distribution -->
        <div class="p-4 shadow rounded text-center">
            <h5 class="fw-bold mb-3">Score Distribution</h5>
            <p class="text-muted small">Rendered via HTML5 Canvas</p>

            <!-- Chart Placeholder -->
            <div style="height:250px">
                <canvas id="scoreChart"></canvas>
            </div>

        </div>

    </div>


    <!-- RIGHT PORTION -->
    <div class="col-lg-8">

        <div class="shadow rounded p-4">

            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="fw-bold mb-0">Student Results List</h4>
                <span class="badge bg-primary-subtle text-primary" id="result-container-title">
                    @*Grade 9: Basic Algebra Quiz*@
                </span>
            </div>

            <table class="table align-middle">

                <thead class="text-muted small">
                    <tr>
                        <th>STUDENT</th>
                        <th>SUBMITTED AT</th>
                        <th>SCORE</th>
                        <th>FULL SCORE</th>
                        <th>STATUS</th>
                    </tr>
                </thead>

                <tbody id="table-body">
                </tbody>

            </table>

        </div>

    </div>

</div>


<script>

    function renderClassOptions(testResult) {

        const classOptions = [
            ...new Map(
                testResult.map(t => [t.ClassId, t.ClassName]) //spreads into array and convert to map
            )
        ].map(([ClassId, ClassName]) => ({ ClassId, ClassName })) // creates pair

        console.log(classOptions)

        classOptions.forEach(c => {
            const optionHtml = `
                <option value="${c.ClassId}" class="classOptions">${c.ClassName}</option>
            `

            $('#classDropDown').append(optionHtml);
        })

    }

    function renderTests(tests) {

        tests.forEach(t => {
            const optionHtml = `
                <option value="${t.TestId}">${t.Title}</option>
            `
            $('#testDropDown').append(optionHtml);
        })
    }

    function formatDateTime(submissionDate) {
        const formattedSubmissionDate = new Date(parseInt(submissionDate.match(/\d+/)[0]))

        const date = formattedSubmissionDate.getDate()
        const month = formattedSubmissionDate.toLocaleString('default', { month: 'long' })
        const year = formattedSubmissionDate.getFullYear()

        const formattedDate = date + " " + month + " " + year;
        return formattedDate;
    }

    function renderResultsList(testResult, classId, testId) {

        //console.log(testResult)

        const filteredList = testResult.filter(t =>
            (!classId || t.ClassId == classId) &&
            (!testId || t.TestId == testId)
        )
        $("#table-body").empty()


       filteredList.forEach(res => {

            const row = `
                    <tr>
                        <td>
                            <strong>${res.FullName}</strong><br>
                            <small class="text-muted">#${res.UserId}</small>
                        </td>
                        <td>${formatDateTime(res.SubmissionDate)}</td>
                        <td class="fw-bold">${res.ScoreObtained}</td>
                        <td class="fw-bold">${res.TotalMarks}</td>
                        <td><span class="badge bg-success-subtle text-success">${res.Status}</span></td>
                    </tr>
            `
           $("#table-body").append(row);
           formatDateTime(res.SubmissionDate)
        })

        const testCount = filteredList.length;
        $('#testCount').text(testCount)
    }

    function renderResultContainerTitle(testResult, classId, testId) {

        const selectedClass = classId
            ? testResult.find(t => t.ClassId == classId)?.ClassName
            : null;

        const selectedTest = testId
            ? testResult.find(t => t.TestId == testId)?.Title
            : null;

        let title = "";

        if (selectedClass && selectedTest) {
            title = `${selectedClass}: ${selectedTest}`;
        }
        else if (selectedClass) {
            title = selectedClass;
        }
        else if (selectedTest) {
            title = selectedTest;
        }

        $("#result-container-title").text(title);

    }

    function renderTestAverage(classAverage, testId) {

        const currentAvg = Math.floor(
            classAverage
                .find(c => c.TestId == testId)
                ?.AvgPercentage || 0
        );

        $("#testAvgText").text(currentAvg);
    }

    function updateResults(testResult, classAverage) {
        const classId = $('#classDropDown').val();
        const testId = $('#testDropDown').val();

        console.log(classId, testId);

        renderResultsList(testResult, classId, testId);
        renderResultContainerTitle(testResult, classId, testId);
        renderTestAverage(classAverage, testId);
    }

    $(document).ready(function () {

        const teacherID = localStorage.getItem("UserID")

        $.ajax({
            url: '@Url.Action("AnalyticsData", "Teacher")',
            type: 'GET',
            data: {
                TeacherId: parseInt(teacherID)
            },
            success: function (response) {
                console.log("S-Response: ", response)

                // For Rendering Class Options
                renderClassOptions(response.testDetails.TestResult)

                // For Rendering Tests Options
                renderTests(response.testDetails.Test)


                $('#classDropDown').change(function () {
                    updateResults(response.testDetails.TestResult, response.testDetails.ClassAverage);
                });

                $('#testDropDown').change(function () {
                    updateResults(response.testDetails.TestResult, response.testDetails.ClassAverage);
                });
            },
            error: function (response) {
                console.log("E-Response: ", response)
            }
        })
    })
</script>