
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_Navbar")
@Html.Partial("_UnauthorizedAccess")


<div class="container pt-5 mt-5" id="main-container">
    <h2>Index</h2>
</div>

<script>
    $(document).ready(function () {
         verifyUserAccess({
            verifyUrl: '@Url.Action("VerifyUser", "Auth")',
            redirectUrl: '@Url.Action("Index", "Home")',
            hideSelector: "#main-container"
        });
})
</script>