USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddTeacherSpecialization]    Script Date: 6/12/2026 5:24:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[sp_AddTeacherSpecialization]
(
    @TeacherId INT,
    @MatchIdList VARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;
 
    -- Validate Teacher
    IF NOT EXISTS 
    (
        SELECT 1 
        FROM dbo.Users 
        WHERE UserId = @TeacherId
          AND Role = 'Admin'
    )
    BEGIN
        SELECT 0 AS Success, 'Invalid TeacherId.' AS Message;
        RETURN;
    END
 
    -- Validate MatchIdList
    IF @MatchIdList IS NULL OR LTRIM(RTRIM(@MatchIdList)) = ''
    BEGIN
        SELECT 0 AS Success, 'MatchIdList cannot be empty.' AS Message;
        RETURN;
    END
 
    -- Convert to Table
    DECLARE @MatchIds TABLE
    (
        MatchId INT PRIMARY KEY
    );
 
    INSERT INTO @MatchIds (MatchId)
    SELECT DISTINCT TRY_CAST(value AS INT)
    FROM STRING_SPLIT(@MatchIdList, ',')
    WHERE TRY_CAST(value AS INT) IS NOT NULL;
 
    -- Validate MatchIds Exist
    IF EXISTS
    (
        SELECT m.MatchId
        FROM @MatchIds m
        LEFT JOIN dbo.ClassSubjects cs
            ON cs.MatchId = m.MatchId
        WHERE cs.MatchId IS NULL
    )
    BEGIN
        SELECT 0 AS Success, 'One or more MatchIds are invalid.' AS Message;
        RETURN;
    END
 
    -- Check if already assigned
    IF EXISTS
    (
        SELECT 1
        FROM @MatchIds m
        INNER JOIN dbo.ClassSubjects cs
            ON cs.MatchId = m.MatchId
        INNER JOIN dbo.TeacherSpecializations ts
            ON ts.TeacherId = @TeacherId
           AND ts.ClassId = cs.ClassId
           AND ts.SubjectId = cs.SubjectId
    )
    BEGIN
        SELECT 0 AS Success, 
               'Teacher already assigned to one or more selected subjects.' AS Message;
        RETURN;
    END
 
    -- Insert Specializations
    INSERT INTO dbo.TeacherSpecializations
    (
        TeacherId,
        ClassId,
        SubjectId
    )
    SELECT 
        @TeacherId,
        cs.ClassId,
        cs.SubjectId
    FROM @MatchIds m
    INNER JOIN dbo.ClassSubjects cs
        ON cs.MatchId = m.MatchId;
 
    -- Success
    SELECT 1 AS Success, 'Specialization added successfully.' AS Message;
 
END