USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckTestAnswers]    Script Date: 6/12/2026 5:25:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[sp_CheckTestAnswers]

	@TestID INT,
	@Answers dbo.AnswerTableType READONLY

AS
BEGIN
-- Marks per Question
	SELECT
		q.QuestionId,
		q.CorrectOption,
		a.AttemptedOption,
		q.Marks,
	CASE
		WHEN q.CorrectOption = a.AttemptedOption
		THEN q.Marks
		ELSE 0
	END
	AS ObtainedMarks
	FROM dbo.Questions q
	LEFT JOIN @Answers a
	ON q.QuestionId = a.QuestionId
	WHERE q.TestId = @TestID

	SELECT
		SUM(
			CASE
				WHEN q.CorrectOption = a.AttemptedOption
				THEN q.Marks
				ELSE 0
			END
		) AS TotalObtainedMarks
		FROM dbo.Questions q
		LEFT JOIN @Answers a
		ON q.QuestionId = a.QuestionId
		WHERE q.TestId = @TestID
END;