USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_getAvgByTeacherId]    Script Date: 6/12/2026 5:26:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[sp_getAvgByTeacherId]
    @TeacherId INT
AS
BEGIN
    SET NOCOUNT ON;
 
    SELECT 
        c.ClassId,
        c.ClassName,
        AVG(tr.ScoreObtained * 100.0 / t.TotalMarks) AS AvgPercentage
    FROM Tests t
    INNER JOIN Classes c 
        ON t.TargetClassId = c.ClassId
    INNER JOIN TestResults tr 
        ON tr.TestId = t.TestId
    WHERE 
        t.CreatedByTeacherId = @TeacherId
    GROUP BY 
        c.ClassId, 
        c.ClassName;
END
