USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTeacherSpecialization]    Script Date: 6/12/2026 5:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROC [dbo].[sp_GetTeacherSpecialization]
(
    @TeacherId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  
        spec.SpecId,
        spec.TeacherId,
        us.FullName AS TeacherName,
        spec.ClassId,
        cl.ClassName,
        spec.SubjectId,
		sub.SubjectName
    FROM dbo.TeacherSpecializations spec
    INNER JOIN dbo.Users us 
        ON spec.TeacherId = us.UserId
    INNER JOIN dbo.Classes cl
        ON spec.ClassId = cl.ClassId
	INNER JOIN dbo.Subjects sub
		ON spec.SubjectId = sub.SubjectId
    WHERE spec.TeacherId = @TeacherId;
END
