USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSubjectsAndClasses]    Script Date: 6/12/2026 5:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[sp_GetSubjectsAndClasses] 
AS 
BEGIN
	SET NOCOUNT ON;
	SELECT 
		cs.MatchId, 
		cs.ClassId, 
		cl.ClassName,
		cs.SubjectId,
		sub.SubjectName
	FROM dbo.ClassSubjects cs
	INNER JOIN dbo.Classes cl
		ON cl.ClassId = cs.ClassId
	INNER JOIN dbo.Subjects sub
		ON sub.SubjectId = cs.SubjectId;
END
