USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByEmail]    Script Date: 6/12/2026 5:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   proc [dbo].[sp_GetUserByEmail]
@Email Varchar(150)
as
begin
	if not exists (select 1 from dbo.Users where Email = @Email)
    begin
        throw 50001, 'Email does not exist.', 1;
    end;

	select * from dbo.Users where Email = @Email;
end
