USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTestAnalytics]    Script Date: 6/12/2026 5:27:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[sp_GetTestAnalytics]
	@TeacherId INT
AS
BEGIN
	SET NOCOUNT ON;

	----------------------------------------------------
	-- 1. Tests Created By Teacher
	----------------------------------------------------
	SELECT
		t.TestId,
		t.Title
	FROM dbo.Tests t
	WHERE t.CreatedByTeacherId = @TeacherId;

	----------------------------------------------------
	-- 2. Student Wise Test Results
	----------------------------------------------------
	SELECT
		t.TestId,
		t.Title,
		t.TotalMarks,
		u.UserId,
		u.FullName,
		tr.ScoreObtained,
		tr.Status,
		tr.SubmissionDate,
		c.ClassId,
		c.ClassName
	FROM dbo.TestResults tr
	JOIN dbo.Tests t
		ON t.TestId = tr.TestId
	JOIN dbo.Users u
		ON tr.StudentId = u.UserId
	JOIN dbo.Classes c
		ON t.TargetClassId = c.ClassId
	WHERE t.CreatedByTeacherId = @TeacherId;

	----------------------------------------------------
	-- 3. Average Percentage Per Test
	----------------------------------------------------
		SELECT 
		t.TestId,
		AVG(tr.ScoreObtained * 100.0 / t.TotalMarks) AS AvgPercentage
	FROM TestResults tr
	INNER JOIN Tests t 
		ON tr.TestId = t.TestId
		WHERE t.CreatedByTeacherId = @TeacherId
	GROUP BY t.TestId;

END
