USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuestionsByTestID]    Script Date: 6/12/2026 5:26:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   proc [dbo].[sp_GetQuestionsByTestID]
	@TestId INT
as
begin
	select
		q.QuestionId,
		q.QuestionText,
		q.OptionA,
		q.OptionB,
		q.OptionC,
		q.OptionD,
		q.CorrectOption,
		q.Marks,
		q.TestId
	from dbo.Questions q
	where q.TestId = @TestId;
end;