USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTeacherTestDashboardDetailsByTeacherID]    Script Date: 6/12/2026 5:27:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[sp_GetTeacherTestDashboardDetailsByTeacherID]
	@TeacherID INT,
	@ClassID INT = 0,
	@SubjectID INT = 0
AS
BEGIN
	SELECT DISTINCT
		t.TestId,
		t.Title,
		t.TargetClassId
	FROM dbo.TestResults r
	JOIN dbo.Tests t
	ON r.TestId = t.TestId
	WHERE t.CreatedByTeacherId = @TeacherID
	AND (@ClassID = 0 OR t.TargetClassId = @ClassID)
	AND (@TeacherID = 0 OR t.CreatedByTeacherId = @TeacherID)
END;