USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllTestsByStudentId]    Script Date: 6/12/2026 5:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   proc [dbo].[sp_GetAllTestsByStudentId]
	@StudentId int
as
begin
	select 
		t.TestId,
		t.Title,
		t.Description,
		t.CreatedByTeacherId,
		c.ClassName,
		s.SubjectName,
		t.StartDateTime,
		t.EndDateTime,
		t.TotalMarks,
		t.IsActive
	from dbo.Tests t
	join dbo.Users u
	on t.TargetClassId = u.StudentClassId
	join dbo.Classes c
	on t.TargetClassId = c.ClassId
	join dbo.Subjects s
	on t.SubjectId = s.SubjectId
	where u.UserId = @StudentId
end;