USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_LogError]    Script Date: 6/12/2026 5:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_LogError]
(
    @ErrorMessage NVARCHAR(MAX),
    @ErrorProcedure NVARCHAR(200) = NULL,
    @ErrorLine INT = NULL,
    @ErrorNumber INT = NULL,
    @UserId INT = NULL,
    @TestId INT = NULL,
    @StackTrace NVARCHAR(MAX) = NULL
)
AS
BEGIN
	SET NOCOUNT ON;
    INSERT INTO dbo.ErrorLogs
    (
        ErrorMessage,
        ErrorProcedure,
        ErrorLine,
        ErrorNumber,
        UserId,
        TestId,
        StackTrace
    )
    VALUES
    (
        @ErrorMessage,
        @ErrorProcedure,
        @ErrorLine,
        @ErrorNumber,
        @UserId,
        @TestId,
        @StackTrace
    )

END