USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_StartTest]    Script Date: 6/12/2026 5:29:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[sp_StartTest]
(
    @TestID INT,
    @StudentId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DECLARE 
            @CurrentTime DATETIME = SYSDATETIME(),
            @TargetClassId INT,
            @StartDateTime DATETIME,
            @EndDateTime DATETIME,
            @IsActive BIT;
       
        -- Fetch Test Once 
        SELECT 
            @TargetClassId = TargetClassId,
            @StartDateTime = StartDateTime,
            @EndDateTime = EndDateTime,
            @IsActive = IsActive
        FROM dbo.Tests
        WHERE TestId = @TestID;

        -- Validate Test Exists       
        IF @TargetClassId IS NULL
        BEGIN
            EXEC dbo.sp_ReturnStartTestFailure 'Test does not exist.';
            RETURN;
        END
      
        -- Validate Test Active
        IF @IsActive = 0
        BEGIN
            EXEC dbo.sp_ReturnStartTestFailure 'Test is not active.';
            RETURN;
        END
        
        -- Validate Time Window
		IF NOT (@CurrentTime BETWEEN @StartDateTime AND @EndDateTime)
		BEGIN
			EXEC dbo.sp_ReturnStartTestFailure 
				'Test cannot be started before the start time or after the end time.';
			RETURN;
		END
      
        -- Validate Student Exists     
        IF NOT EXISTS (
            SELECT 1
            FROM dbo.Users
            WHERE UserId = @StudentId
              AND Role = 'Student'
        )
        BEGIN
            EXEC dbo.sp_ReturnStartTestFailure 'Student not found.';
            RETURN;
        END
       
        -- Validate Student Belongs To Target Class        
        IF NOT EXISTS (
            SELECT 1
            FROM dbo.Users
            WHERE UserId = @StudentId
              AND StudentClassId = @TargetClassId
        )
        BEGIN
            EXEC dbo.sp_ReturnStartTestFailure 
                'Student does not belong to the target class for this test.';
            RETURN;
        END
     
        -- Prevent Re-attempt        
        IF EXISTS (
            SELECT 1
            FROM dbo.TestResults
            WHERE TestId = @TestID
              AND StudentId = @StudentId
        )
        BEGIN
            EXEC dbo.sp_ReturnStartTestFailure 
                'This test can only be attempted once.';
            RETURN;
        END

        -- SUCCESS FLOW

        -- Result Set 1: Test Info
        SELECT
            t.TestId,
            t.Title,
            t.Description,
            t.StartDateTime,
            t.EndDateTime,
            t.TotalMarks,
			s.SubjectName
        FROM dbo.Tests t
		JOIN dbo.Subjects s
		ON t.SubjectId = s.SubjectId
        WHERE t.TestId = @TestID;

        -- Result Set 2: Questions
        SELECT
            q.QuestionId,
            q.QuestionText,
            q.OptionA,
            q.OptionB,
            q.OptionC,
            q.OptionD,
            q.Marks
        FROM dbo.Questions q
        WHERE q.TestId = @TestID;

        -- Result Set 3: Response
        SELECT 
            1 AS Success,
            'Test started successfully.' AS Message;

    END TRY
    BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        EXEC dbo.sp_ReturnStartTestFailure @ErrorMessage;
    END CATCH
END
