USE [PrepMasterDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_SignUp]    Script Date: 6/11/2026 12:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[sp_SignUp]
    @FullName VARCHAR(100),
    @Email VARCHAR(150),
    @PasswordHash VARCHAR(255),
    @Role VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
	IF NOT @Email LIKE '%@gmail.com%'
	BEGIN
		THROW 50002, 'Email should be in the format of @gmail.com', 1;
	END


    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        -- Custom Error
        THROW 50001, 'Email already exists.', 1;
    END
    ELSE
    BEGIN
        INSERT INTO Users (FullName, Email, PasswordHash, Role)
        VALUES (@FullName, @Email, @PasswordHash, @Role);

        SELECT SCOPE_IDENTITY() AS UserId;
    END
END
